@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

:root{
    --Strong-cyan: hsl(172, 67%, 45%);
    --Very-dark-cyan: hsl(183, 100%, 15%);
    --Dark-grayish-cyan: hsl(186, 14%, 43%);
    --Grayish-cyan: hsl(184, 14%, 56%);
    --Light-grayish-cyan: hsl(185, 41%, 84%);
    --Very-light-grayish-cyan: hsl(189, 41%, 97%);
    --White: hsl(0, 0%, 100%)
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Space Mono', monospace;
    background-color: var(--Light-grayish-cyan);
    display: flex;
    align-items: center;
    height: 100vh;
    justify-content: center;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:30px;
    padding:30px;
    background-color: var(--White);
    border-radius: 10px;
    width:100vh;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media only screen and (max-width: 700px) {
    .container{
        display:flex;
        flex-direction: column;
        gap:60px;
    }
    .left,.right{
        display:flex;
        flex-direction: column;
        gap:30px;
    }
    .left-top{
        display:flex;
        flex-direction: column;
        gap:30px;
    }
    .reset-btn{
        margin-bottom: 20px;
    }
}

.right,.left{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.right label{
    color:var(--Dark-grayish-cyan);    
}
.bill-container,.number-of-people,.select-tip{
    display:flex;
    flex-direction: column;
    gap:3px;
    flex-wrap:wrap;
    padding:10px;
    margin:10px 0;
}

@media only screen and (max-width: 650px){

}
    
.bill-container input,.number-of-people input {
    border:none;
    background-color: var(--Very-light-grayish-cyan);
    width:100%;
    font-size: 1.3rem;
    text-align: right;
    border-radius: 5px;
    border: 3px solid transparent;
    padding:5px;
    color: var(--Very-dark-cyan);
    font-weight: 700;
}   
.bill-container input:focus,.number-of-people input:focus{
    outline:none;
    border: 3px solid hsla(172, 67%, 45%, 0.445);
}
i{
    position: absolute;
    font-size: 1.5rem;
    opacity: 0.7;
    padding-left:10px;
}

.tips{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(2,45px);
    gap:12px;
}

.tips button{
    background-color: var(--Very-dark-cyan);
    color:var(--White);
    font-size: 1.2rem;
    font-weight: 800;
    border:none;
    border-radius: 3px;
    cursor: pointer;
    letter-spacing: 1.5px;
}

#custom-btn{
    background-color: var(--Very-light-grayish-cyan);
    color:var(--Grayish-cyan);
    font-weight: 700;
}

.tips button:hover{
    background-color: var(--Light-grayish-cyan-2);
    color: var(--Very-dark-cyan);
}


.tips button.click{
    background-color: var(--Strong-cyan);

}

.left{
    background-color: var(--Very-dark-cyan);
    border-radius: 12px;
    color:var(--White);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.left-top{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap:20px;
    padding:10px 25px;
}

.tip-amount,.total{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.left-top span{
    opacity: 0.5;
    font-size: .9rem;

}

.left-top p{
    font-size: 2rem;
    color:var(--Strong-cyan)
}
.left-bot{
    display: flex;
    width: 100%;

}
.reset-btn{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;

}

.reset-btn button{
    width: 80%;
    height: 5vh;
    background-color: var(--Strong-cyan);
    outline:none;
    cursor: pointer;
    border:transparent;
    border-radius: 5px;
    font-size: 1.3rem;
    color:var(--Very-dark-cyan);
    font-weight: 700;
}

.reset-btn button:hover{
    background-color: var(--Light-grayish-cyan);
}

.active{
    background-color: var(--Light-grayish-cyan-2) !important;
    color: var(--Very-dark-cyan) !important;
}